<div id="countDownTimer" class="span4 "></div> 
<script> 
  var year = <%= @event.end_datetime.strftime("%Y") %>; 
  var month = <%= @event.end_datetime.strftime("%-m") %>; 
  var day = <%= @event.end_datetime.strftime("%-d") %>; 
  var eventEndDate = new Date(); 
  eventEndDate = new Date(year, month - 1, day); 
  $('#countDownTimer').countdown({until: eventEndDate}); 
</script>