
  <% if @event.finished?%>  
    <% if item.bids.empty? %>
       <i><font color="gray">This item was not sold</font></i> 
    <% else %> 
      <font color="gray"><i>Final Bid:</i></font></br>$<%= number_with_precision(item.top_bid_amount, :precision => 0) %>
      <% if current_user && item.top_bid_me?(current_user.id) %>
        <p><span class="label label-success"> You won! <i class="icon-thumbs-up"></i> </span></p>
      <% end %>              
    <% end %>

  <% else%>
    <div class = "bid_amount">
      $<%= number_with_precision(item.top_bid_amount || item.start_bid, :precision => 0) %>
    </div>
    <%= pluralize(item.bids.count, 'Bid') %> 

    <% if current_user %> 
      <% if item.top_bid_me?(current_user.id) %>
        <p><span class="label label-success"> Current Top Bidder <i class="icon-thumbs-up"></i> </span></p>
      <% end %>
      <%= render "/shared/bid_form", :item => item %>
    <% end %>
  <% end %>  
