<%if current_user.has_role? :admin %>
 
<h1><%= link_to 'Admin Dashboard', dashboard_path, :class => "h1_link" %></h1>

<nav class = "row">
  <div class = "span12">
  <ul class = "nav dashboard_tabs">
      <%= nav_link 'Report1', dashboard_report1_path %> 
      <%= nav_link 'Report2', dashboard_report2_path %>    
  </ul>
  </div>
</nav>
</br>
<h4>STATUS REPORT</h4>
<div class = "textarea">
<table class="table table-hover">
<thead>
	<tr>
		<th colspan="2">Title</th>
		<th colspan="2">Start Bid</th>
		<th colspan="2">Donator Name</th>
		<th colspan="2">Email Address</th>
		<th colspan="2">Status</th>
	</tr>
</thead>
<tbody>
<% Event.new.status_report.each do |report| %>
	<tr>
		<% report.each do |key, value| %>
		<td colspan="2"><%= value %></td>	
		<% end %>
	</tr>
	<% end %>
</tbody>
</table>
</div>

<% end %>