<h1>Auction Items</h1>

<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Current Bid</th>
  </tr>

<% @items.each do |item| %>
  <tr>

    <td><%= link_to image_tag(item.image_url, :height => 50), item %></td>
    <td><%= link_to item.title, item %></td>
    <% if item.bids %>
      <td><i>Current bid:</i>$<%= number_with_precision(item.top_bid_amount, :precision => 0) %></td>
    <% else %>
      <td><h4><i>Start bid:</i>$<%= number_with_precision(item.top_bid_amount, :precision => 0) %></h4></td>
    <% end %>
   
  </tr>
<% end %>
</table>
